:root {
    --bg: #0d0d11;
    --text: #f1f1f1;
    --text-muted: #888;
    --accent: #00f6ff;
    --accent-hover: #0ff;
    --cta-bg: #00f6ff;
    --cta-hover: #0ff;
    --rad: 12px;
    --pad: clamp(2rem, 5vw, 3rem);
    --box-shadow: 0 0 15px rgba(0, 255, 255, 0.25);
    --gap: clamp(2rem, 3cqi, 2.3rem);
}

@container Layout (max-width: 700px) {
    .card-container {
        grid-template-columns: 1fr !important;
        gap: var(--gap);
        padding: var(--pad);
    }
}

@container Layout (max-width: 400px) {
    .card-container {
        grid-template-columns: 1fr !important;
        gap: 2rem !important;
        padding: 0.4rem !important;
    }

    .text-card {
        max-width: 320px;
    }

    .visual-card {
        max-width: 320px;
    }
}

@container Layout (min-width:701px) and (max-width:1000px) {
    .card-container {
        height: 100%;
        grid-template-columns: 1fr 1fr;
        padding: 1rem !important;
        gap: 1.2rem !important;
        align-items: center;
    }

    .text-card {
        max-width: 400px;
    }

    .visual-card {
        max-width: 400px;
    }
}

body {
    margin: 0;
    height: 100vh;
    background: var(--bg);
    line-height: 1.3;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: clamp(2rem, 4cqi, 3.5rem);
    padding: clamp(0.3rem, 1cqi, 0.5rem);
    color: var(--text);
    font-weight: 800;
}

h3 {
    font-size: clamp(1.2rem, 3cqi, 2rem);
    color: var(--text);
    font-weight: 700;
}

p {
    font-size: clamp(1rem, 2.5cqi, 1.5rem);
    color: var(--text-muted);
}

.container {
    container-name: Layout;
    container-type: inline-size;
    height: 80%;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: var(--gap);
    align-items: center;
    padding: var(--pad);
}

/* Left Content Section*/
.text-card {
    text-align: left;
    background: rgba(0, 255, 255, 0.05);
    backdrop-filter: blur(100px);
    display: flex;
    max-width: 450px;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--pad);
    box-shadow: var(--box-shadow);
    border-radius: var(--rad);
    transition: all 0.5s ease;
    cursor: auto;
    animation: fadeIn 1s ease;
}

.cta {
    display: flex;
    justify-content: space-evenly;
    gap: var(--gap);
}

.text-card a {
    background-color: var(--cta-bg);
    text-decoration: none;
    padding: clamp(0.5rem, 1cqi, 0.6rem);
    border-radius: 4px;
    color: var(--text-muted);
    animation: button 1s ease-in-out infinite;
}


/* Right Visual Section */

.visual-card {
    text-align: center;
    background: rgba(0, 255, 255, 0.05);
    backdrop-filter: blur(100px);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--pad);
    box-shadow: var(--box-shadow);
    border-radius: var(--rad);
    animation: fadeInR 1s ease;
    transition: all 0.5s ease;
}

.visual img {
    width: clamp(220px, 40cqi, 450px);
    height: auto;
    max-height: 70vh;
    border-radius: var(--rad);
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.1);
    object-fit: cover;
    max-height: 400px;
    animation: scaleInB 0.5s ease forwards;
    animation-delay: 0.1s;
}

/* Hover */
.text-card a:hover {
    background-color: var(--cta-hover);
    box-shadow: var(--box-shadow);
    transform: translateY(5%) scale(1.05);
}

.text-card:hover {
    background: rgba(0, 255, 255, 0.1);
    transform: scale(1.02);
}

.visual-card:hover {
    background: rgba(0, 255, 255, 0.1);
    transform: scale(1.02);
}

/* Animations for loading fade */
@keyframes scaleInB {
  from {
    transform: scale(0);
    opacity: 0.3;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes button {
    0% {
        box-shadow: 0 0 5px rgb(120, 245, 249);
    }

    50% {
        box-shadow: 0 0 8px rgb(117, 226, 253);
    }

    100% {
        box-shadow: 0 0 5px rgb(120, 245, 249);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-100%) scale(1.5);
    }

    to {
        opacity: 1;
        transform: translateX(0%) scale(1);
    }
}

@keyframes fadeInR {
    from {
        opacity: 0;
        transform: translateX(100%) scale(1.5);
    }

    to {
        opacity: 1;
        transform: translateX(0%) scale(1);
    }
}